:root {
    --menu: #f5f3f4;
    --messages: #f2cbbd;
    --message-font: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    background: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.dark-theme {
    --background: #343a40;
    --color-primary: #f8f9fa;
    --profile-background: #495057;
    --footer-background: #495057;
    --chat-container: #6c757d;
    --menu: #495057;
    --messages: white;
    --message-font: black;
}

.light-theme {
    --background: #f5f3f4;
    --color-primary: black;
    --profile-background: #eef3f7;
    --footer-background: #f2cbbd;
    --messages: #f2cbbd;
}

.dark-theme .logo-small {
    filter: invert(80%);
}

.dark-theme .hamburger-navbar {
    filter: invert(100%);
}

.dark-theme .moon-symbol {
    filter: invert(0%);
}

main {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a,
button {
    cursor: pointer;
}

.content {
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 0;
    margin: 0 auto;
    padding: 20px;
}

.padding {
    padding: 20px;
}

.register-background-container {
    width: 100%;
    height: 100%;
}

.register-container-big {
    display: flex;
    flex-direction: row;
    background: var(--profile-background);
    color: var(--color-primary);
    border-radius: 20px;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.register-container-big a {
    color: blue;
}

.logo-container {
    flex: 1;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.reset-logo-container {
    flex: 1;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-container {
    background: linear-gradient(
        90deg,
        rgba(255, 205, 178, 1) 0%,
        rgba(255, 180, 162, 1) 100%
    );
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex: 1;
    padding: 20px;
    text-align: center;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.left-container h1 {
    font-size: 60px;
    padding: 30px 20px;
    line-height: 50px;
    color: #fcf9ed;
    margin: 10px;
}
.left-container h3 {
    font-weight: 500;
    color: #161a1d;
}

.left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

@media screen and (max-width: 576px), (max-height: 500px) {
    img.remove-on-mobile {
        display: none;
    }
}

.registration-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    padding: 20px;
}
.registration-container-new {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
}

.registration-middle-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.registration-middle-left img {
    height: auto;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.registration-middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 150px 0;
    background: #f2cbbd;
    border-radius: 10px;
}

.middle-text-container {
    background: white;
    line-height: 35px;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    max-width: 100%;
    font-weight: 500;
    border: 1px solid black;
    padding: 20px;
    position: relative;
    top: -50px;
    border-radius: 5px;
}

.middle-text-container span {
    font-family: "Scada", sans-serif;
}

.dog-testimonials p {
    font-family: "Scada", sans-serif;
}

.small-middle-container img {
    padding-bottom: 30px;
}

img.floating-dog-head {
    max-width: 350px;
    max-height: auto;
    display: flex;

    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.registration-text-container {
    margin-top: 30px;
    display: flex;
    flex: 1;
    padding: 0 20px;
    max-width: 100%;
    font-weight: 800;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.registration-text {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.registration-form-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.registration-form-container-landing {
    flex: 1;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
}

h1.text-login {
    margin-bottom: 15px;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.form-button {
    margin: 15px;
}

.form-input {
    padding: 10px;
    border-width: 0 0 2px;
    outline: 0;
    margin: 10px;
    width: 300px;
    max-width: 100%;
}

.terms-container {
    padding: 10px;
    text-align: center;
    margin: auto;
    max-width: 100%;
}

.breaker {
    flex-basis: 100%;
    height: 0;
}

.passwort-reset-link {
    padding-bottom: 15px;
}

.link-to-register {
    font-size: 13px;
}

.reset-text-step2 {
    padding-top: 15px;
}

.profile-picture-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: flex-end;
    object-fit: cover;
    cursor: pointer;
}

header {
    flex: 0;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.footer {
    flex: 0;
    font-family: "Montserrat", sans-serif;
    padding: 30px 0 10px 10px;
    font-size: 13px;
    width: 100%;
    background: var(--footer-background);
    color: var(--color-primary);
}
header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    color: black;
}

.logo-header-container {
    flex: 1;
}

.logo-header-container-landing {
    flex: 1;
}

.logo-header-container-landing img {
    margin-left: 20px;
}

img.logo-small {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex: 0;
    margin-top: 5px;
}

.logo-small img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex: 0;
}

.hamburger-navbar {
    width: 75px;
    height: 75px;
    object-fit: cover;
    flex: 0;
    margin-top: -25px;
    cursor: pointer;
}

.profile-small-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.navbar-container {
    z-index: 8;
    background-color: var(--menu);
    color: var(--color-primary);
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 25px;
    padding: 50px 0 0 30px;
    transition: all 2s ease-in-out;

    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.close-navbar-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}

.links-navbar a:link {
    text-decoration: none;
    padding: 10px 0 10px 20px;
    display: block;
    color: var(--color-primary);
}

.navbar-container span {
    cursor: pointer;
}

.logout {
    font-size: 20px;
    margin-top: 15px;
}

#preview {
    display: flex;
    align-self: center;
    padding: 10px;
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.moon-symbol {
    height: 75px;
    width: 75px;
    object-fit: cover;
    cursor: pointer;
    padding-bottom: 25px;
}

.friends-container h2,
.request-container h2 {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: var(--color-primary);
}

.other-users-information {
    padding: 20px;
}
.other-users-information.center {
    text-align: center;
}

.other-users-information p {
    padding: 15px 0 10px 0;
}

button {
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin: 5px 0;
}

.profile-content {
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 0;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.profile {
    display: flex;
    flex: 3;
    flex-direction: row;
    background: var(--profile-background);
    color: var(--color-primary);
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    flex-wrap: wrap;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.profile-top {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--profile-background);
    color: var(--color-primary);
    width: 150px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    margin-right: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        padding: 20px;
        margin-top: 75px;
        width: 290px;
        height: 230px;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.profile-two {
    display: flex;
    flex: 3;
    flex-direction: row;
    background: var(--profile-background);
    color: var(--color-primary);
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.profile-two h4 {
    text-align: center;
    padding-bottom: 20px;
}

.profile-two p {
    text-align: center;
    padding-bottom: 20px;
}

.location-container {
    align-self: baseline;
    padding-top: 20px;
    margin: auto;
    flex: 1;
}

.profile-picture img {
    width: 100%;
    height: 300px;
    flex-shrink: 1;
    position: relative;
    z-index: 2;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.profile-new {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background: var(--profile-background);
    color: var(--color-primary);
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    flex-wrap: wrap;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.profile-new a {
    color: blue;
}

.profile-picture-container {
    flex: 0;
}

.this-button {
    margin-left: 10px;
}

.user-info-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    color: var(--color-primary);
}
.user-info-container h2 {
    font-size: 30px;
    padding: 10px;
    text-align: left;
}

.user-info-container h4 {
    padding: 0 10px 10px 10px;
    text-align: left;
}

.profile-text-container {
    flex: 1;
    text-align: justify;
    line-height: 25px;
    padding: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.profile-edit-container {
    flex: 1;

    line-height: 25px;
    padding: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.profile-edit-container label {
    padding-left: 10px;
}

.profile-text-container p {
    margin-bottom: 10px;
}

.profile-picture-container p {
    padding-top: 10px;
    color: var(--color-primary);
}

.profile-container-dog {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: start;
    align-items: center;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dog-image-container img {
    flex: 1;
    max-height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dog-profile-image-container img {
    flex: 1;
    height: auto;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.dog-info-container {
    align-self: flex-start;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 40px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}

.profile-text-container h4 {
    padding-bottom: 10px;
}

.modal-container {
    display: flex;
    justify-content: center;
    max-height: 100%;
    flex-direction: column;
    width: 70vw;
    max-width: 400px;
    position: fixed;
    z-index: 10;
    background-color: white;
    margin: 80px auto;
    border-radius: 10px;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    padding: 20px;
    transition: all ease 2s;
    flex: 1;

    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.modal-text-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.modal-text-container textarea {
    margin: 20px;
    min-width: 250px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
}

.inputfile {
    color: transparent;
    width: 120px;
}
.inputfile::-webkit-file-upload-button {
    visibility: hidden;
}
.inputfile::before {
    content: "Select a file";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.inputfile:hover::before {
    border-color: black;
}
.inputfile:active {
    outline: 0;
}
.inputfile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.modal-buttons {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.modal-buttons button {
    height: 30px;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin: 5px;
}

.find-people-content {
    text-align: center;
}

.profile-search {
    display: flex;
    flex: 3;
    text-align: center;
    flex-direction: column;
    background: var(--profile-background);
    width: 410px;
    min-height: 480px;
    flex-wrap: wrap;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px 30px 0 30px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.profile-search-output {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.search-text-container {
    padding-bottom: 40px;
    color: var(--color-primary);
}

.other-profile-top {
    display: flex;
    flex: 1;
    flex-direction: column;

    background: var(--chat-container);
    min-width: 200px;
    max-width: 250px;
    min-height: 250px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.other-profile-top button {
    max-width: 80%;
    align-self: center;
}

.spacer {
    margin: 10px;
}

.chat-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.chat-message-container {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-message-container-new {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    margin-top: 10px;
}

.chat-message-container-new textarea {
    max-width: 60%;
    min-width: 250px;
    margin-right: 20px;
}

.chat-message-container-new h3,
p {
    color: var(--color-primary);
}

p.click-ind-messages {
    padding-bottom: 20px;
}

p.message-bold {
    font-weight: 500;
    color: var(--message-font);
}

.single-chat-container p {
    color: black;
}

img.chat-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.chat-textarea {
    width: 100%;
    align-self: flex-end;
    height: 80px;
}

.chat-user-container {
    display: flex;
    flex: 3;
}

.chat-image-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.goodbye-container {
    display: flex;
    width: 500px;
    height: 100%;

    flex-wrap: wrap;
    padding: 20px;
}

.goodbye-message img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.delete-account-link {
    font-size: 15px;
    margin-top: 10px;
}

.about-headline {
    padding-top: 20px;
}

img.dog-about-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.logo-container-dogs {
    flex: 1;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dog-quote-container {
    text-align: center;
    padding: 20px;
}

.dog-about-text-container p {
    line-height: 30px;
    text-align: justify;
    padding: 20px 20px 20px 40px;
}

.dog-about-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.registration-form-container button {
    width: 60%;
    border: none;
    background: #f2cbbd;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.delete-info-text {
    text-align: center;
    padding: 10px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.delete-info-text p {
    font-size: 12px;
    padding-top: 10px;
    font-weight: 400;
    line-height: 25px;
}

.delete-button {
    padding: 20px 0;
}

.delete-text {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    padding: 20px;
}

.delete-request-buttons button {
    width: 100%;
    border: none;
    background: #f2cbbd;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    opacity: 0.8;
}

.chat-profile-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    background: var(--chat-container);
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px 40px 10px 40px;
    flex-wrap: wrap;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.single-chat-container {
    display: flex;
    flex-direction: row;
    background-color: var(--messages);
    margin: 10px 0;
    border-radius: 15px;
    padding: 20px;
}

.single-message-container {
    display: flex;
    flex-direction: row;
    background: var(--messages);
    color: var(--message-font);
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
}

.user-info-chat {
    font-size: 13px;
    padding-bottom: 7px;
}

.chat-profile-text-container {
    text-align: center;
    line-height: 30px;
}

.chat-text-rules-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    background: var(--profile-background);
    color: var(--color-primary);
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px 30px 10px 30px;
    flex-wrap: wrap;
    margin-left: 40px;
    text-align: center;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
}

.chat-logo {
    width: 100px;
    height: 100px;
}

.img-landing-container img {
    height: auto;
    width: 80%;

    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.img-landing-container {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-container-big {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    max-width: 100%;
    align-items: flex;
    justify-content: center;
    margin-top: 20px;
    /* padding: 20px; */
}

.landing-text-big {
    flex: 1;
    text-align: left;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
    padding-left: 60px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.landing-text-big h1 {
    font-size: 80px;
}

.header {
    justify-content: flex-end;
    height: 80px;
}

.landing-text-big button {
    align-self: center;
}

.landing-page-container button {
    border-radius: 15px;
    background: #f2cbbd;
    border: none;
    width: 200px;
    padding: 10px;
    align-self: flex-start;
}

.header button {
    border-radius: 15px;
    background: #f2cbbd;
    border: none;
    width: 150px;
    padding: 10px;
}

.map-container {
    height: 350px;
    width: 350px;
    flex: 1;
}

#map {
    height: 350px;
    width: 350px;
}

/* .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
} */

.marker {
    background-image: url("../client/public/logo.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.spotify-player iframe {
    border-radius: 15px;
}

.spotify-player {
    margin-right: 20px;
    flex: 1;
}

.profile-text-container-not-friends {
    flex: 1;
    text-align: center;
    line-height: 30px;
    padding: 20px;
    align-self: center;

    @media screen and (max-width: 576px), (max-height: 500px) {
        margin-top: -70px;
        margin-bottom: 25px;
        width: 290px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}

.all-messages-text {
    font-size: 30px;
    padding-bottom: 20px;
}

textarea {
    max-height: 100px;
    min-height: 70px;
    border-radius: 5px;
    padding: 5px;
}

.back-button {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    background: #f2cbbd;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    opacity: 0.8;
}

.sent {
    display: flex;
    flex-direction: row;
    background-color: #f2c094;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
}

.received {
    display: flex;
    flex-direction: row;
    background-color: #d99f7e;
    margin: 10px 0;
    border-radius: 15px;
    padding: 10px;
    max-width: 70%;
}

.chat-profile-container button {
    height: 30px;
}

.friends-profile-container {
    padding: 10px;
}
.friends-profile-container p {
    margin-left: 10px;
}

.friends-small {
    display: flex;
    flex-direction: row;
}

.friends-small img {
    margin: 10px;
}

.bio-buttons button {
    margin-right: 5px;
    margin-left: 10px;
}

.user-info-container textarea {
    margin-left: 10px;
}

.single-dog-testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dog-testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #f2cbbd;
}

.dog-testimonials p {
    text-align: center;
    font-size: 22px;
    padding: 0 20px 0 20px;
    font-weight: 700;
}

.click-container {
    flex: 1;
}

span.created-at {
    color: var(--message-font);
}

.user-info-chat p {
    color: var(--message-font);
}

.register-button {
    border-radius: 15px;
    background: #f2cbbd;
    border: none;
    width: 150px;
    padding: 10px;
}

.distance {
    margin-bottom: 10px;
}
