@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffe8d6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 20px;

    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 172px;
    height: auto;
}

.content {
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 0;
}

.background-container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.logo-container {
    flex: 1;
    flex-shrink: 2;
}

.logo-container img {
    max-width: 400px;
    margin: 30px;
}

.registration-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding-right: 50px;
    margin: auto;
}

.registration-text-container {
    margin-top: 30px;
    text-align: center;
    flex: 1;
}

.registration-form-container {
    flex: 1;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding-right: 50px;
    margin: auto;
}

.login-form-container {
    flex: 1;
}

.profile-picture-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: flex-end;
}

header {
    flex: 0;
    height: 120px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    /* align-items: center; */
}
/* 
header * {
    display: inline;
} */

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    color: black;
}

/* header.logo {
} */

img.logo {
    width: 200px;
    height: 120px;
    flex: 0;
}

.logout {
    cursor: pointer;
}

.profile-picture-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;
}

.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #eef3f7;
    width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    @media screen and (max-width: 576px), (max-height: 500px) {
        width: 95%;
        padding: 20px;
        margin-top: 75px;
        min-height: initial;
        padding-bottom: 30px;
        max-width: 400px;
    }
    &-top {
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 4;
        @media screen and (max-width: 576px), (max-height: 500px) {
            flex-wrap: wrap;
        }
    }
    &-picture {
        width: 300px;
        height: 300px;
        margin-left: -70px;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        border-radius: 15px;

        z-index: 1;
        box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);

        @media screen and (max-width: 576px), (max-height: 500px) {
            margin-top: -70px;
            margin-bottom: 25px;
            width: 290px;
            height: 230px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.profile-picture-container {
    flex: 0;
}

.user-info-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 100px;
}

.modal-container {
    display: flex;
    justify-content: center;
    height: 65vh;
    max-height: 600px;
    flex-direction: column;
    width: 70vw;
    max-width: 800px;
    position: fixed;
    z-index: 3;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    transition: all ease 2s;
    flex: 1;
}

.modal-text-container {
    padding: 20px;
    display: flex;

    flex: 2;
}

.inputfile {
    color: transparent;
    width: 120px;
}
.inputfile::-webkit-file-upload-button {
    visibility: hidden;
}
.inputfile::before {
    content: "Select a file";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.inputfile:hover::before {
    border-color: black;
}
.inputfile:active {
    outline: 0;
}
.inputfile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.modal-buttons {
    width: 240px;
}

.main-registration {
    padding: 150px 0;
}

.signup {
    margin-bottom: 150px;
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);

    border-radius: 20px;
}

.signup {
    margin-bottom: 150px;
}

.signup-content {
    padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
    width: 50%;
    overflow: hidden;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    margin-bottom: 33px;
}

.signup-image {
    margin-top: 45px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}
.form-submit:hover {
    background: #4292dc;
}

.register-image {
    width: 500px;
    height: auto;
}

/* .form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.25);
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

    &:focus {
        background: darken(#fff, 3%);
    }
}



    &:hover {
        background: darken($color-primary, 5%);
    }
}

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
} */
